.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.main{
  width: 920px;
  height: 100%;
  position: relative;
  margin: auto;
  border: solid 1px  #C6CACC;
  
}

.header{
  display: flex ;
  justify-content: space-between;
  height: 64px;
  border-bottom: solid 1px #C6CACC;
}

.heading{
  margin-left: 30px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.delete{
  width: 14px;
  height: 14px;
  margin: 25px;
}



.container{
  box-sizing:content-box;
  
}

.branch{
  width: 904px;
  height: 100%;
  margin: -24px -24px 0 -24px;
}

.tab{
  height: 532px;
  overflow: scroll;
  width: 100%;
  margin-right: -16px;
}

.footer{
  position:absolute;
  bottom: 0px;
  width: 100%;
  height: 72px;
  display: flex;
  background-color: rgba(247, 249, 250, 1);
}

.setting{
  margin: 24px 0 0 24px;
  height: 100%;
}

.headingRadio{
  font-size: 16px;
  color: rgba(145, 150, 153, 1);
  font-weight: 400;
  line-height: 24px;
  float: left;
  margin-top: 8px;
  width: 166px;
  text-align: left;
}
.marginTop{
  margin-top: -6px;
}

.displayFlex{
  display: flex;
}

.flex{
  flex: 1;
}

.formGroup{
  text-align: left;
  height: 42px;
}

.vehicleHeading{
  display: flex;
  width: 100%;
  height: 48px;
  margin-top: -8px;
}

.vehicleP{
  margin: 28px 0 0 0;
  line-height: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
